@using Entities
@model IEnumerable<FinancialAccountResponse>

@{
    ViewBag.Title = "Financial account list";
}

<form action="accounts" method="get">
    <h1>Financial accounts list</h1>

    <div class="box flex">
        <div class="flex-1">
            <input type="text" id="Search" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.SearchString"/>
        </div>

        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a style="text-decoration: none; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; cursor: default;"
               href="accounts" class="button button-red-back">
                Clear
            </a>
        </div>
    </div>

    <table class="table w-100 mt">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>
                    @if (ViewBag.SortBy == nameof(FinancialAccountResponse.AccountName) && ViewBag.SortOrder == SortOrderOptions.Asc.ToString())
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.AccountName)&sortOrder=@SortOrderOptions.Desc">
                            Account Name
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                    }
                    else if (ViewBag.SortBy == nameof(FinancialAccountResponse.AccountName) && ViewBag.SortOrder == SortOrderOptions.Desc.ToString())
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.AccountName)&sortOrder=@SortOrderOptions.Asc">
                            Account Name
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    }
                    else
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.AccountName)&sortOrder=@SortOrderOptions.Desc">
                            Account Name
                        </a>
                    }
                </th>

                <th>
                    @if (ViewBag.SortBy == nameof(FinancialAccountResponse.Balance) && ViewBag.SortOrder == SortOrderOptions.Asc.ToString())
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.Balance)&sortOrder=@SortOrderOptions.Desc">
                            Balance
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                    }
                    else if (ViewBag.SortBy == nameof(FinancialAccountResponse.Balance) && ViewBag.SortOrder == SortOrderOptions.Desc.ToString())
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.Balance)&sortOrder=@SortOrderOptions.Asc">
                            Balance
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    }
                    else
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.Balance)&sortOrder=@SortOrderOptions.Desc">
                            Balance
                        </a>
                    }
                </th>

                <th>
                    @if (ViewBag.SortBy == nameof(FinancialAccountResponse.CurrencyName) && ViewBag.SortOrder == SortOrderOptions.Asc.ToString())
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.CurrencyName)&sortOrder=@SortOrderOptions.Desc">
                            Currency Code
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                    }
                    else if (ViewBag.SortBy == nameof(FinancialAccountResponse.CurrencyName) && ViewBag.SortOrder == SortOrderOptions.Desc.ToString())
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.CurrencyName)&sortOrder=@SortOrderOptions.Asc">
                            Currency Code
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    }
                    else
                    {
                        <a href="accounts?searchString=@ViewBag.SearchString&sortBy=@nameof(FinancialAccountResponse.CurrencyName)&sortOrder=@SortOrderOptions.Desc">
                            Currency Code
                        </a>
                    }
                </th>
                <th>User ID</th>
                <th>Currency ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var financialAccount in Model)
            {
                <tr>
                    <td>@financialAccount.AccountId</td>
                    <td>@financialAccount.AccountName</td>
                    <td>@financialAccount.Balance</td>
                    <td>@financialAccount.CurrencyName</td>
                    <td>@financialAccount.UserId</td>
                    <td>@financialAccount.CurrencyId</td>
                </tr>
            }
        </tbody>
    </table>
</form>