@model IEnumerable<UserResponse>

@{
    ViewBag.Title = "Users list";
}

<h1>Users list</h1>

<table class="table w-100 mt">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Email</th>
            <th>Phone (Optional)</th>
            <th>Country Name</th>
            <th>Country ID</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Login</td>
                <td>@user.Password</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.CountryName</td>
                <td>@user.CountryId</td>
                <td>@user.IsActive</td>
            </tr>
        }
    </tbody>
</table>